# Merge the `defaultEnv` and `env` together to create a new map of environment variables
# This map is used to populate the `env` field
{{- $defaultEnv := .Values.defaultEnv | default list }}
{{- $extraEnv := .Values.env | default list }}

{{- $envMap := dict }}

# Loop through defaultEnv and merge into envMap (normal values)
{{- range $defaultEnv }}
  {{- $envMap = merge (dict .name (dict "value" .value)) $envMap }}
{{- end }}

# Merge through extraEnv and merge into envMap (normal values and valueFrom)
{{- range $extraEnv }}
  {{- if hasKey . "valueFrom" }}
    {{- $envMap = merge (dict .name (dict "valueFrom" .valueFrom)) $envMap }}
  {{- else }}
    {{- $envMap = merge (dict .name (dict "value" .value)) $envMap }}
  {{- end }}
{{- end }}

# Set default NITTEI__OBSERVABILITY__SERVICE_VERSION env var
{{- $defaultServiceVersion := .Values.image.tag }}
{{- if not (hasKey $envMap "NITTEI__OBSERVABILITY__SERVICE_VERSION") }}
  {{- $envMap = merge (dict "NITTEI__OBSERVABILITY__SERVICE_VERSION" (dict "value" $defaultServiceVersion)) $envMap }}
{{- end }}
# End of setting default NITTEI__OBSERVABILITY__SERVICE_VERSION env var

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "nittei.fullname" . }}
  labels:
    {{- include "nittei.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  {{- if .Values.strategy }}
  strategy:
    {{- toYaml .Values.strategy | nindent 4 }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "nittei.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "nittei.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "nittei.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{ if .Values.migrationInitContainer.enabled }}
      initContainers:
        - name: {{ .Chart.Name }}-migrate
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext:
            {{- toYaml .Values.initContainer.securityContext | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            {{- range $key, $value := $envMap }}
            - name: {{ $key }}
              {{- if hasKey $value "value" }}
              value: {{ $value.value | quote }}
              {{- else if hasKey $value "valueFrom" }}
              valueFrom: {{ toYaml $value.valueFrom | nindent 16 }}
              {{- end }}
            {{- end }}
          command:
            - /bin/sh
            - -c
            - "/nittei-migrate"
          {{- with .Values.initContainer.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            {{- range $key, $value := $envMap }}
            - name: {{ $key }}
              {{- if hasKey $value "value" }}
              value: {{ $value.value | quote }}
              {{- else if hasKey $value "valueFrom" }}
              valueFrom: {{ toYaml $value.valueFrom | nindent 16 }}
              {{- end }}
            {{- end }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
