[package]
name = "nittei_api"
version = "0.1.0"
authors = ["Fredrik Meringdal"]
edition = "2021"

[lints]
workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
nittei_api_structs = { workspace = true }
nittei_domain = { workspace = true }
nittei_infra = { workspace = true }
serde = { version = "1.0", features = ["derive"] }
futures = "0.3"
actix-web = "4.8"
actix-cors = "0.7"
actix-web-validator = "6.0.0"
validator = { version = "0.18", features = ["derive"] }
awc = "3.5"
async-trait = "0.1.83"
rrule = "0.12.0"
chrono = { version = "0.4.19", features = ["serde"] }
chrono-tz = "0.8.1"
anyhow = "1.0"
jsonwebtoken = "7"
thiserror = "1.0"
tracing = "0.1.25"
tracing-actix-web = { version = "0.7.13", features = ["opentelemetry_0_23"] }
tracing-futures = "0.2.5"

[dev-dependencies]
serial_test = "*"
