name: JavaScript client tests

on:
  pull_request:
  push:
    branches:
      - master

env:
  RUST_BACKTRACE: 1

jobs:
  test:
    name: test
    runs-on: ${{matrix.os}}

    strategy:
      matrix:
        os: [ubuntu-22.04]
        node-version: [20]

    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: nittei
        ports:
          - 5432:5432
    env:
      NITTEI__HTTP_PORT: 5000
      NITTEI__DATABASE_URL: postgresql://postgres:postgres@localhost/nittei
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      # Setup Rust as we need to run the server
      - uses: dtolnay/rust-toolchain@stable

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Start server
        run: |
          # run the migrations first
          cargo install sqlx-cli --no-default-features --features postgres || true
          (cd crates/infra && sqlx migrate run)

          export RUST_LOG=error,tracing=info

          cargo build
          ./target/debug/nittei &> output.log &
          echo "Started server in background"

          sleep 10

      - name: Install JS modules
        run: |
          cd clients/javascript
          pnpm i

      - name: Build JS
        run: |
          cd clients/javascript
          pnpm run build

      - name: Run tests
        run: |
          cd clients/javascript
          pnpm run test

      - name: Stop server
        run: |
          kill $(lsof -t -i:5000) || true
          echo "Stopped server"
