name: Release

env:
  REGISTRY_IMAGE: ${{ github.repository_owner }}/${{ github.event.repository.name }}

on:
  push:
    # Sequence of patterns matched against refs/tags
    # Unfortunately, regex are not fully supported in YAML files, so we cannot
    # use the officially recommended regex to verify the semantic versioning tag
    # https://github.com/semver/semver/blob/master/semver.md#is-there-a-suggested-regular-expression-regex-to-check-a-semver-string
    # tags:
    #   - "v[0-9]+.[0-9]+.[0-9]+-?[a-zA-Z0-9]*"

jobs:
  build-docker:
    # We use a custom runner for ARM64 builds (Buildjet)
    runs-on: ${{ matrix.platform == 'linux/amd64' && 'ubuntu-latest' || 'buildjet-2vcpu-ubuntu-2204-arm' }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
        distro:
          - debian
          - alpine
    permissions:
      contents: read
      packages: write
    env:
      DATABASE_URL: postgresql://postgres:postgres@localhost/nittei
    steps:
      - name: Prepare
        run: |
          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set version env
        run: |
          # v1.0.0 --> 1.0.0
          VERSION=${GITHUB_REF#refs/*/}
          echo "VERSION=${VERSION:1}" >> $GITHUB_ENV

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_IMAGE }}
          # For debian: latest, debian, 1.0.0
          # For alpine: alpine, alpine-1.0.0
          # tags: ${{ matrix.distro == 'debian' && format('latest, debian, {0}', env.version) || format('alpine, alpine-{0}', env.version) }}
          tags: ${{ matrix.distro == 'debian' && format('{0}', env.version) || format('alpine-{0}', env.version) }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        id: build
        uses: docker/build-push-action@v6
        with:
          file: "./${{ matrix.distro }}.Dockerfile"
          platforms: ${{ matrix.platform }}
          # This is for the Alpine image
          build-args: |
            ARCH=${{ matrix.platform == 'linux/amd64' && 'ARCH=x86_64' || 'aarch64' }}
          labels: ${{ steps.meta.outputs.labels }}
          outputs: type=image,name=${{ env.REGISTRY_IMAGE }},push-by-digest=true,name-canonical=true,push=true

      - name: Export digest
        run: |
          mkdir -p /tmp/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "/tmp/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ env.PLATFORM_PAIR }}
          path: /tmp/digests/*
          if-no-files-found: error
          retention-days: 1

  merge-docker:
    runs-on: ubuntu-latest
    needs:
      - build-docker
    steps:
      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: /tmp/digests
          pattern: digests-*
          merge-multiple: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Create manifest list and push
        working-directory: /tmp/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.REGISTRY_IMAGE }}@sha256:%s ' *)

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.REGISTRY_IMAGE }}:${{ steps.meta.outputs.version }}

  # We don't use the Rust client for now
  # To re-enable later
  # rust-client-release:
  #   runs-on: ubuntu-latest
  #   needs: javascript-client-release
  #   services:
  #     postgres:
  #       image: postgres:13
  #       env:
  #         POSTGRES_PASSWORD: postgres
  #         POSTGRES_DB: nittei
  #       ports:
  #         - 5432:5432
  #   env:
  #     DATABASE_URL: postgresql://postgres:postgres@localhost/nittei
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v2
  #     - name: Set version env
  #       run: |
  #         # v1.0.0 --> 1.0.0
  #         VERSION=${GITHUB_REF#refs/*/}
  #         echo "VERSION=${VERSION:1}" >> $GITHUB_ENV
  #     - name: Wait for remote to become up to date
  #       run: |
  #         duration=15
  #         echo "sleeping $duration seconds ..."
  #         sleep $duration
  #         echo "sleeping $duration seconds ... DONE"

  #     - uses: actions/cache@v2
  #       with:
  #         path: |
  #           ~/.cargo/bin/
  #           ~/.cargo/registry/index/
  #           ~/.cargo/registry/cache/
  #           ~/.cargo/git/db/
  #           scheduler/target/
  #         key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

  #     - name: Run migrations
  #       run: |
  #         cd scheduler
  #         cargo install sqlx-cli --no-default-features --features postgres || true
  #         (cd crates/infra && sqlx migrate run)

  #     - name: Login to crates.io
  #       env:
  #         CRATE_PUBLISH_TOKEN: ${{secrets.CRATE_PUBLISH_TOKEN}}
  #       run: |
  #         cargo login $CRATE_PUBLISH_TOKEN

  #     - name: Set version numbers
  #       run: |
  #         # What follows is a lot of search and replace magic for Cargo.toml to update
  #         # version number for a crate and its dependenices. It seems like there
  #         # is no good tool that can bump version numbers in a cargo workspace yet.

  #         cd scheduler

  #         cd crates/utils
  #         sed -i "0,/\(version *= *\).*/{s/\(version *= *\).*/\1\"$VERSION\"/}" ./Cargo.toml
  #         cd ../../

  #         cd crates/domain
  #         sed -i "0,/\(version *= *\).*/{s/\(version *= *\).*/\1\"$VERSION\"/}" ./Cargo.toml
  #         sed -i "s/path = \"..\/utils\", version = \"*.*.*\"/path = \"..\/utils\", version = \"$VERSION\"/" ./Cargo.toml
  #         cd ../../

  #         cd crates/api_structs
  #         sed -i "0,/\(version *= *\).*/{s/\(version *= *\).*/\1\"$VERSION\"/}" ./Cargo.toml
  #         sed -i "s/path = \"..\/domain\", version = \"*.*.*\"/path = \"..\/domain\", version = \"$VERSION\"/" ./Cargo.toml
  #         echo "api_structs toml"
  #         cat ./Cargo.toml
  #         echo "api_structs toml DONE"
  #         cd ../../

  #         cd crates/infra
  #         sed -i "0,/\(version *= *\).*/{s/\(version *= *\).*/\1\"$VERSION\"/}" ./Cargo.toml
  #         cd ../../

  #         cd crates/api
  #         sed -i "0,/\(version *= *\).*/{s/\(version *= *\).*/\1\"$VERSION\"/}" ./Cargo.toml
  #         cd ../../

  #         cd clients/rust
  #         sed -i "0,/\(version *= *\).*/{s/\(version *= *\).*/\1\"$VERSION\"/}" ./Cargo.toml
  #         sed -i "s/path = \"..\/..\/crates\/domain\", version = \"*.*.*\"/path = \"..\/..\/crates\/domain\", version = \"$VERSION\"/" ./Cargo.toml
  #         sed -i "s/path = \"..\/..\/crates\/api_structs\", version = \"*.*.*\"/path = \"..\/..\/crates\/api_structs\", version = \"$VERSION\"/" ./Cargo.toml
  #         echo "SDK toml"
  #         cat ./Cargo.toml
  #         echo "SDK toml DONE"
  #         cd ../../

  #         # Root Cargo.toml
  #         sed -i "0,/\(version *= *\).*/{s/\(version *= *\).*/\1\"$VERSION\"/}" ./Cargo.toml

  #         cargo check --all

  #     - name: Publish crates
  #       run: |
  #         cd scheduler

  #         cd crates/utils
  #         cargo publish --allow-dirty
  #         cd ../../

  #         # Make sure published version is available at crates.io
  #         sleep 30

  #         cd crates/domain
  #         cargo publish --allow-dirty
  #         cd ../../

  #         # Make sure published version is available at crates.io
  #         sleep 30

  #         cd crates/api_structs
  #         cargo publish --allow-dirty
  #         cd ../../

  #         # Make sure published version is available at crates.io
  #         sleep 30

  #         cd clients/rust
  #         cargo publish --allow-dirty
  #         cd ../../

  # - name: Commit & Push version changes
  #   uses: actions-js/push@master
  #   with:
  #     github_token: ${{ secrets.GITHUB_TOKEN }}
  #     branch: master
  #     message: |
  #       Autopublish: Update cargo workspace deps on release

  # javascript-client-release:
  #   runs-on: ubuntu-latest
  #   needs: merge-docker
  #   permissions:
  #     contents: read
  #     packages: write
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4
  #     - name: Set version env
  #       run: |
  #         # v1.0.0 --> 1.0.0
  #         VERSION=${GITHUB_REF#refs/*/}
  #         echo "VERSION=${VERSION:1}" >> $GITHUB_ENV
  #     - name: Setup Node.js 20
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: 20
  #         registry-url: "https://npm.pkg.github.com"
  #         scope: "@meetsmore"

  #     - name: Setup pnpm
  #       uses: pnpm/action-setup@v4
  #       with:
  #         version: 9
  #     - name: Install deps
  #       run: |
  #         cd clients/javascript
  #         pnpm install

  #     - name: Set version number
  #       run: |
  #         cd clients/javascript
  #         pnpm version $VERSION

  #     - name: Publish package
  #       run: |
  #         cd clients/javascript
  #         pnpm run deploy
  #       env:
  #         NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  # helm-chart-release:
  #   needs: javascript-client-release
  #   permissions:
  #     contents: write
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4
  #       with:
  #         fetch-depth: 0

  #     - name: Configure Git
  #       run: |
  #         git config user.name "$GITHUB_ACTOR"
  #         git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

  #     - name: Install Helm
  #       uses: azure/setup-helm@v4
  #       env:
  #         GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

  #     - name: Set version env
  #       run: |
  #         # v1.0.0 --> 1.0.0
  #         VERSION=${GITHUB_REF#refs/*/}
  #         echo "VERSION=${VERSION:1}" >> $GITHUB_ENV

  #     - name: Set Chart to tag version
  #       run: |
  #         sed -i "s/\$VERSION_REPLACED_IN_CI/$VERSION/g" charts/nittei/Chart.yaml
  #         sed -i "s/\$VERSION_REPLACED_IN_CI/$VERSION/g" charts/nittei/values.yaml

  #     - name: Debug mark as latest
  #       run: |
  #         echo "github.event.release: ${{ github.event.release }}"
  #         echo "github.event.release.prerelease: ${{ github.event.release.prerelease }}"
  #         echo "mark_as_latest: ${{ !github.event.release.prerelease }}"

  #     - name: Run chart-releaser
  #       uses: helm/chart-releaser-action@v1.6.0
  #       env:
  #         CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
  #         mark_as_latest: "${{ !github.event.release.prerelease }}"
